.about {
  padding: 2rem;
}

.about-header {
  text-align: center;
  margin-bottom: 2rem;
}

.about-details {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.about-details p {
  margin-bottom: 1.5rem;
}

.about-details p:last-child {
  margin-bottom: 0;
}

.about-details strong,
.about-details ol,
.about-details li {
  color: black;
}

.about-details ol {
  text-align: left;
}
