.header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.header h1 {
  margin-bottom: 1rem;
}

.header p {
  line-height: 1.6;
}

.data-tiles-container {
  margin-top: 3rem;
  padding: 0 10rem;
}

.footer {
  text-align: center;
  padding: 3rem 2rem;
  margin-top: 4rem;
}

.footer p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: gold;
}

